* {

    margin: 0;
    box-sizing: border-box;
    font-family: 'fira-sans-condensed', sans-serif;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    
}

body{
    
    background-image: url("../img/background.png");
    background-position: top;
    background-size:cover;
    
}


button i {
    pointer-events: none;
}

button:active {
    cursor: pointer;
    transform: scale(1.05);
    
}



header {

    background-color: rgba(140, 175, 175, 0.6);
    margin: 1em;
    padding-bottom: .5em;
}

header h1 {

    padding-top: .5em;
}

.top-menu {

    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    margin-bottom: .4em;
    
}

#btn-container button, 
#btn-container-user button {
    display: inline-flex;
    padding: .5em 1.1em;
    border: none;
    margin-bottom: .2em;
}

.btn-menu, .logo-mushroom {
    background-color: transparent;
    margin: auto;
    border: none;
    font-size: 1em;
    padding-top: 1em;
}

.card {
    background-color: rgb(140, 175, 175, .8 );
    margin: 1em;
    padding: 1em;
    
}


.card-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    margin-bottom: .4em;
    
}

.card-title {
    
    min-width: 60%
   
}

.card-header button {
    background-color: transparent;
    border: none;
    font-size: 1em;
}


.card-score {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.card-score h4 {
    font-size: .6em;
}

.card-score button {
    width: 5em;
    border: none;
}
.card-score h3 {
    font-size:  3em;
    background-color: rgba(183, 240, 240, 0.2);
    max-width: 1.3em;
    margin: auto;   

    
}

.user-score h4 {
    
    font-size: 5em;
    font-weight: bolder;

}


.hide {
    display: none;
}